body{
    font-family: sans-serif;
    
}
h1{
    font-size: 3vw; 
    font-style: oblique; 
    padding-left: 2rem;
}

.bienvenida{
    font-style: oblique; 
}

header{
    color: white;
}