body {
    background: rgba(128, 128, 128, 0.2);
    height: 100%;
}
header{
    background-color:  #162e97;      /* Color */ 
    font-size: 1.4em;
    color: white;
    font-family: 'Segoe UI', sans-serif;  
   
}
 
header nav div ul li a:hover{
    font-weight: 500;
 /*text-shadow: 1px 1px 6px #d0dad3;*/
 font-size: 1.1em;
 font-weight: oblique;
}

.bienvenida{
    font-style: oblique; 
}


 
.container nav div ul li a:hover{
 text-shadow: 1px 1px 6px #666866;
 font-size: 1.2em;
 font-weight: oblique;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
 